:root {
	--bg-color: #dfdfdf;
	--general-text-color: #0e0e0e;
	--shadow: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #323232;
		--general-text-color: #fafafa;
		--shadow: #181818;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-height: 100%;
	background: var(--bg-color);
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

@media (max-width: 900px) {
	body {
		flex-direction: column;
		align-items: center;
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin: 100px 0;
	}
}

h1 {
	margin: 0;
	padding: 20px 0;
	position: absolute;
	left: 20px;
	top: 0;
}

h1,
h3,
p,
label {
	color: var(--general-text-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-content: center;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

input {
	width: 79%;
	border-radius: 10px;
	border: 0;
	height: 35px;
	margin: 10px 0 0 0;
	outline: none;
}

input[type="submit"] {
	margin: 25px 0 0 0;
	width: 81%;
	background-image: linear-gradient(120deg, #31014f, #b53a00);
	color: #fafafa;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	box-shadow: var(--shadow) 5px 5px 5px;
	cursor: pointer;
}

input[type="number"] {
	padding-left: 2%;
}

label {
	align-self: flex-start;
	margin: 10px 0 0 40px;
}

.error {
	position: absolute;
	top: 15%;
	left: 25%;
	background: #ff0000;
	height: 35px;
	width: 50%;
	margin: auto;
	border-radius: 10px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	align-self: center;
	justify-self: center;
	color: #fafafa;
	font-size: 1.4em;
}

#div__error {
	position: absolute;
	top: 15%;
	left: 25%;
}
